:root{
    --second-font: 'Poppins', sans-serif;
    --first-font: 'Josefin Sans', sans-serif;
    --theme-color: #d9135a;
    --second-color: #f1f1f1;
    --third-color: #015e6b;
    --white: #ffffff;
    --black: #000000;
    --border-color: #dddddd;
}