.footer {
  padding: 40px;
  background-color: var(--black);
  display: flex;
  flex-direction: column;
}
.footer > .footer-actions {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer > .footer-actions > a {
  color: var(--main);
  text-decoration: none;
  font-weight: bold;
  font-size: 48px;
  line-height: 46px;
  letter-spacing: 0.035em;
}
.footer > .footer-actions > .footer-item {
  display: flex;
  flex-direction: column;
}

.footer > .footer-actions > .footer-item span {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  margin-bottom: 20px;
}
.footer > .footer-actions > .footer-item > a {
  text-decoration: none;
  color: var(--gray);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer > .footer-actions > .address > a {
  text-decoration: none;
  color: var(--main);
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-bottom: 20px;
}
.footer > .footer-actions > .address > button {
  color: var(--main);
  padding: 14px 20px;
  border-radius: 12px;
  border: 2px solid var(--main);
  background-color: var(--black);
}
.footer > .copyright > span > img {
  width: 24;
  height: 31;
}
.footer > .copyright {
  display: flex;
  align-items: center;
  justify-content: end;
}
.footer > .copyright > span {
  margin: 14px;
  color: var(--gray);
}
.footer > .copyright > img {
  width: 24px;
  height: 31px;
  margin-right: 10px;
}
